.header {
  height: 87px;
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.header .container__top {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container__top-flex {
  margin: 10px;
}
.container__top-flex__menu {
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.container__top-flex__img {
  width: 15%;
}
.logo {
  width: 164.31px;
  height: 61px;
}
.header a {
  padding: 10px;
  color: #000;
}
.header a:hover {
  color: #005092;
}
.white__button {
  color: #005092;
  background-color: white;
  border-color: #005092;
  box-shadow: 0px 4px 10px rgba(0, 80, 146, 0.25);
  padding: 5px 10px;
  margin-left: 10px;
}
.blue__button {
  padding: 10px 5px;
  margin-left: 10px;
  color: white;
  background: linear-gradient(90deg, #005092 0%, #00849c 68.23%);
  box-shadow: 0px 4px 10px rgba(0, 80, 146, 0.25);
}
.blue__button:hover {
  color: #005092;
  background: white;
  border-color: #005092;
  box-shadow: 0px 4px 10px rgba(0, 80, 146, 0.25);
}
.white__button:hover {
  color: white;
  background: linear-gradient(90deg, #005092 0%, #00849c 68.23%);
  box-shadow: 0px 4px 10px rgba(0, 80, 146, 0.25);
}
.sidenav {
  width: 0;
  position: absolute;
  top: 86px;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  z-index: 300;
  padding-bottom: 20px;
}
.closebtn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.menu-open {
  display: none;
  color: #299fca;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 3px;
}
.description {
  background: linear-gradient(
    89.94deg,
    #edfcff 41.05%,
    rgba(237, 252, 255, 0.96) 53.95%,
    rgba(237, 252, 255, 0.93) 63.32%,
    rgba(237, 252, 255, 0) 99.95%
  );
  padding-bottom: 95px;
}
.description__flex-reverse {
  display: flex;
  flex-direction: column;
}
.description__img {
  background: url(../Images/6408.png) no-repeat right;
  background-size: cover;
}
.blueColor {
  color: #005092;
}
.description__h1 {
  font-size: 3.29rem;
  padding-top: 110px;
}
.description__h3 {
  padding: 25px 0;
  font-size: 1.5rem;
}
.description__p {
  font-size: 1.14rem;
  padding: 25px 0 35px;
}
.description__line {
  border: 2px solid #005092;
  width: 180px;
  border-radius: 5px;
  background-color: #005092;
}
.description__h4,
.description__form__legend {
  padding: 10px 0;
  font-weight: bold;
  font-size: 1.43rem;
  color: #005092;
}
.description__form__legend {
  padding: 25px 0;
}
.description__li {
  padding: 10px 0;

  color: #fdbc00;
}
.description__li p {
  color: black;
}
.description__form {
  background-color: #c0e3ff;
  padding: 20px 78px;
  margin: 45px 0 95px;
}
.description__check {
  padding: 30px 0 25px;
}

fieldset {
  padding: 15px 0;
  border: none;
}
.description__form__input {
  width: 26.75%;

  padding: 10px 20px;
  background: #ffffff;
  border: 1px solid #d7d7d7;
  box-sizing: border-box;
}
.description__form__button {
  width: 26.75%;
}
.description__form__flex {
  display: flex;
  justify-content: space-between;
}
.subscribe-field {
  font-size: 0.86rem;
}
.benefits__h2 {
  font-size: 2.57rem;
  padding: 100px 10px 37px;
}
.benefits__h3 {
  font-size: 1.29rem;
}
.benefits__img {
  width: 107px;
  height: 106px;
}
.benefits__imgs {
  width: 100%;
}
.benefits__ul__top,
.benefits__ul__bottom {
  display: flex;
}
.benefits__span {
  font-size: 1.14rem;
  background: #00849c;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 20px 45px 25px;
  margin-bottom: 70px;
}

.benefits__span-back {
  position: relative;
  width: 592px;
  margin: 0 auto;
}
.benefits__span-back::after {
  position: absolute;
  content: "";
  top: 0;
  right: -33px;
  border: 33px solid #00849c;
  border-right-width: 0px;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.benefits__span-back::before {
  position: absolute;
  content: "";
  top: 0;
  left: -33px;
  border: 33px solid #00849c;
  border-left-width: 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.benefits__span__bold {
  font-weight: bold;
}
.benefits__p__bottom {
  font-size: 1.71rem;
  font-weight: bold;
  color: #005092;
  margin: 70px;
}
.benefits__p {
  width: 100%;
}
.description__form__legend,
.benefits__h2,
.benefits__h3,
.benefits__span,
.benefits__p__bottom {
  text-align: center;
}
.benefits__ul__li {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  align-items: center;
}
.benefits__img {
  width: 107px;
  box-sizing: border-box;
}

.benefits__imgs {
  max-width: 70%;
}

.form__bottom {
  background: #fdbc00;
  opacity: 0.95;
  padding-bottom: 50px;
}
.form__bottom__img {
  background: url(../Images/glenn-carstens.png) no-repeat;
  background-size: cover;
}
.description__form__legend {
  margin: 50px 0 25px;
}
.links {
  background: #333333;
  color: white;
}
.links__flex {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 40px;
}
.links__center__h {
  font-weight: 500;
}
.links__center__line {
  width: 60%;
  border: 2px solid #fdbc00;
  border-radius: 5px;
  background-color: #fdbc00;
  margin: 10px 0 20px;
}
.links__center__ul a {
  padding: 10px;
  display: flex;
  color: white;
}
.links__center__ul {
  padding-bottom: 30px;
}
.links__right__location {
  padding: 15px 0;
}
.fab {
  background: #333333;
  border: 2px solid #ffffff;
  border-radius: 50%;
  padding: 10px;
  margin: 35px 5px 140px;
  color: white;
}
.fa-facebook-f {
  padding: 10px 12px;
}
.fa-vk {
  padding: 10px 8px;
}
.fas {
  color: #fdbc00;
  background: #333333;
}
.fa-phone-alt {
  padding-left: 20px;
}
.links__right__location__tel {
  padding: 10px;
}
.fab:hover {
  color: #fdbc00;
  border: 2px solid #fdbc00;
}
.links__left__p a {
  color: white;
}
.links__center__ul a:hover,
.links__left__p a:hover {
  color: #fdbc00;
}
.tel {
  color: white;
}
.tel:hover {
  color: #fdbc00;
}
.fa-bars {
  font-size: 3rem;
  color: #005092;
  background-color: white;
}
.fa-times {
  display: none;
  font-size: 3rem;
  color: #005092;

  background-color: white;
}
.menu__li__burger {
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.links__phone {
  display: none;
}
.links__p-phone {
  display: none;
}
.links__left__p-phone a {
  color: #fdbc00;
  padding-right: 10px;
}
.links__right__h,
.links__center__h {
  font-size: 1.43rem;
}
.links__flex__center {
  display: flex;
  width: 58%;
  justify-content: space-between;
}
.close {
  display: none !important;
}
.blackout {
  background: rgba(0, 0, 0, 0.5) !important;
  background-blend-mode: darken;
}
.container__backgroung {
  background-color: #edfcff;
}
